# VacationPy

In [1]:
# import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from config import google_apikey

In [3]:
#getting the csv file created in weatherpy
city_weather_data = pd.read_csv("../WeatherPy/output_data/formatted_cities.csv")

city_weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Qui Nhon,13.7667,109.2333,80.17,75,78,5.32,VN,1618531899
1,Mkushi,-13.6202,29.3939,57.70,83,96,4.65,ZM,1618531906
2,Avarua,-21.2078,-159.7750,84.20,65,14,10.36,CK,1618531913
3,Faanui,-16.4833,-151.7500,82.63,69,33,10.54,PF,1618531919
4,Bluff,-46.6000,168.3333,55.99,69,74,13.00,NZ,1618531926

# Humidity Heatmap

In [ ]:
#configure gmaps
gmaps.configure(api_key=google_apikey)